In [1]:
from core.dataset import dataset
from datasets import example

In [2]:
data = example.Example()

In [3]:
data.get_data()

[[1, 'Alice', 20, True, 3.5],
 [2, 'Bob', 21, False, 3.0],
 [3, 'Charlie', 22, True, 3.8],
 [4, 'David', 23, False, 2.5],
 [5, 'Eve', 24, True, 3.9]]

In [4]:
data.get_data(type='df')

   id     name  age  is_student  gpa
0   1    Alice   20        True  3.5
1   2      Bob   21       False  3.0
2   3  Charlie   22        True  3.8
3   4    David   23       False  2.5
4   5      Eve   24        True  3.9

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          5 non-null      int64
 1   name        5 non-null      object
 2   age         5 non-null      int64
 3   is_student  5 non-null      bool
 4   gpa         5 non-null      float64
dtypes: bool(1), float64(1), int64(2), object(1)
memory usage: 293.0+ bytes

In [7]:
print(data.head())

   id     name  age  is_student  gpa
0   1    Alice   20        True  3.5
1   2      Bob   21       False  3.0
2   3  Charlie   22        True  3.8
3   4    David   23       False  2.5
4   5      Eve   24        True  3.9